.promo-card-one {
  background-color: #ef2853;
  min-height: 380px;
}

.promo-card-two {
  background-color: #f39c59;
  min-height: 380px;
}

.promo-card-three {
  background-color: #5897fb;
  min-height: 380px;
}

.promo-card-content {
  width: 50%;
}

.promo-card-img {
  height: 90%;
  width: auto;
  object-fit: contain;
  pointer-events: none;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 30px;
}

.promo-link {
  padding-top: 20px;
  transition: color 0.3s ease;
}

.promo-link:hover {
  color: #000000 !important;
}
